
.image-frame{
	display:inline-block;
	border:1px solid #fff;
	width:23.36%;
	margin:5px;

	overflow: hidden;
}
.image-frame img{


	object-fit:cover;
	 -moz-transition: all 1.1s;
  -webkit-transition: all 1.1s;
  transition: all 1.1s;
}
.image-frame:hover img{
	-moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-filter:blur(2px);
  filter: blur(2px);
}
span.text-content {
  background: #68686875;
  color: #ffffff;
	text-align:center;
  opacity: 0;
	position: absolute;
  vertical-align: center;
  min-height: 400px;
	max-width:245px;
  padding:17%;
  font-size: 2em;
   border: 3px  ;
  border-radius: 9px;
  font-weight: bold;

    }
.image-frame:hover span.text-content {
  opacity: 2;
	z-index:100;
}
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
